.bar.bar-header {
  height: 64px !important;

  .header-item {
    height: 64px !important;
  }

  .button {
    min-height: 64px;
    max-height: 64px;
  }

  .title {
    height: 63px !important;
    line-height: 64px !important;
  }

}

.menu .bar.bar-header.expanded {
  background-image: url('../img/material-graphite.jpg');
  background-size: 120%;
  background-position: 0%;
  transition: all .5s ease-in-out;
}

.item-complex.item-icon-left .item-content {
    padding-left: 64px;
}

i.icon {
  font-size: 20px !important;
}

