.payment {
  .item-image img {
    max-height: 40px;
    margin-left: 10px;
    margin-top: 15px;
    display: block;
    width: auto;
    height: auto;
  }

  h1 {
    color: #888;
    margin-top: -10px;
  }
}
